@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-5">Yo Yo Test</h4>
</div>

<div class="row">
    <div class="offset-5 col-md-3">
        <input type="button" id="btnPlay" value="Play" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>NEXT SHUTTLE</label>
    </div>
    <div class="col-md-4">
        <label>TOTAL TIME</label>
    </div>
    <div class="col-md-4">
        <label>TOTAL DISTANCE</label>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">1. Athelete Name 1</div>
        <div class="col-md-5">
            <input type="button" class="btn btn-warning" value="Warn" />
            <input type="button" class="btn btn-danger" value="Stop" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">2. Athelete Name 2</div>
        <div class="col-md-5" style="display:none">
            <input type="button" class="btn btn-warning" value="Warn" />
            <input type="button" class="btn btn-danger" value="Stop" />
        </div>
        <div class="col-md-5">
            <select id="result" class="form-control">
                <option>12-2</option>
                <option>12-3</option>
                <option>12-4</option>
            </select>
        </div>
    </div>
</div>